<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="lang.RU.config">
    <add key="ipAddressServer" value="172.22.2.37" />
    <add key="portServer" value="5555" />
    <add key="portClient" value="5556" />
    <add key="timeoutKeepAlive" value="90000" />
    <add key="timeoutSelftest" value="15000" />
    <add key="timeoutTest" value="15000" />
    <add key="notifySound" value="true" />
    <add key="urlHelp" value="file://\\agrobank.gomel.by\Netlogon\RSend\RSend.ru\userguideru.htm" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>