<?xml version="1.0" encoding="utf-8" ?>
<appSettings>    
  <add key="frmSendCaption" value="Send message"/>
  <add key="frmSelectCaption" value="Select recipients"/>
  <add key="frmGroupCaption" value="Modify private group"/>
    
  <add key="lblStatusOk" value="Channel status: server connection established"/>
  <add key="lblStatusErr" value="Channel status: no connection to server"/>

  <add key="lblSendTo" value="Send to:"/>
  <add key="lblMsgText" value="Message text (max 1000 chars):"/>  
  <add key="lblFilter" value="Filter"/>
  <add key="lblGroupName" value="Group name:"/>
  <add key="lblGroupMembers" value="Members (user names and/or computer names):"/>
  <add key="lblGroupComment" value="* Use semicolon to separate the group members. Example: user1; user2; computer3; computer4;"/>

  <add key="menuItemSendMsg" value="Send message"/>
  <add key="menuItemClear" value="Clear"/>
  <add key="menuItemClose" value="Close"/>
  <add key="menuItemHelp" value="Help"/>

  <add key="btnClear" value="Clear"/>
  <add key="btnClose" value="Close"/>
  <add key="btnSelect" value="Select recipients"/>
  <add key="btnSend" value="Send"/>
  <add key="btnOk" value="OK"/>
  <add key="btnCancel" value="Cancel"/>
  <add key="btnSave" value="Save"/>
  <add key="btnFilter" value="Apply"/>
  <add key="btnAddGroup" value="Add"/>
  <add key="btnEditGroup" value="Edit"/>
  <add key="btnDelGroup" value="Delete"/>

  <add key="cbConfirm" value="Get delivery confirmation"/>
  <add key="cbSelectAll" value="Select all"/>
  
  <add key="tabPageUser" value="User Names"/>
  <add key="tabPageHost" value="Computer Names"/>
  <add key="tabPageADGroup" value="Public Groups"/>
  <add key="tabPagePrivateGroup" value="Private Groups"/>
  
  
  <add key="cbOptionStart" value="Start with"/>
  <add key="cbOptionExist" value="Exists"/>
  <add key="cbOptionNotStart" value="Not start with"/>
  <add key="cbOptionNotExist" value="Not exists"/>

  <add key="sToAllUsers" value="To all users"/>
  <add key="sMsgFrom" value="message from"/>
  <add key="sDeliveryTotal" value= "Confirmation (delivered / sent)"/>
  <add key="sDeliveryFailed" value="Message was not delivered to"/>
  <add key="sTitleReply" value="Reply to sender"/>

  <add key="MsgBoxCaptionInfo" value="Information"/>
  <add key="MsgBoxCaptionWarning" value="Warning"/>
  <add key="MsgBoxCaptionError" value="Error"/>
  
  <add key="MsgBoxSendMsgOk" value="Your message has been sent."/>
  <add key="MsgBoxTwoAppRun" value="One copy of RSend Client is already running on your computer!"/>
  <add key="MsgBoxExit" value="Exit RSend Client?"/>
  <add key="MsgBoxClear" value="Clear all incoming messages?"/>
  <add key="MsgBoxNoReplyMsg" value="There is nobody to reply (the sender is offline)!"/>
  <add key="MsgBoxNoReplySelect" value="Select who you wish to reply!"/>
  <add key="MsgBoxNoReplyAlert" value="You canot reply to automatic generated message!"/>
  <add key="MsgBoxNoRegisteredUsers" value="There is nobody to send message!"/>
  <add key="MsgBoxEmptyMsgTextBox" value="You cannot send empty message!"/>
  <add key="MsgBoxEmptySelectUserTextBox" value="Select recipients!"/>
  <add key="MsgBoxEmptyField" value="All fields are required!"/>
  <add key="MsgBoxOneGroupEdit" value="Select only one group to edit!"/>
  <add key="MsgBoxEmptyGroupEdit" value="Select group to edit"/>
  <add key="MsgBoxEmptyGroupDelete" value="Select group to delete!"/>
  <add key="MsgBoxConfirmDeleteGroup" value="Delete selected group(s)?"/>
  <add key="MsgBoxNoPing" value="Server is not available now(no ping). Try to send message later."/>
  <add key="MsgBoxNoRemoting" value="Server is not available now(no remoting). Try to send message later."/>
  <add key="MsgBoxErrSendMsg" value="Cannot send message!"/>
  <add key="MsgBoxErrListSendTo" value="Cannot get list of recipients!"/>
  <add key="MsgBoxErrSaveGroup" value="Cannot save this group information!"/>
  <add key="MsgBoxErrDeleteGroup" value="Cannot delete the selected group(s)!"/>
  <add key="MsgBoxErrOpenHelp" value="Cannot open help file!"/>
</appSettings>



