<?xml version="1.0" encoding="utf-8" ?>
  <appSettings>        
    <add key="frmSendCaption" value="Отправить сообщение"/>
    <add key="frmSelectCaption" value="Выбрать получателей"/>
    <add key="frmGroupCaption" value="Редактировать личную группу"/>
        
    <add key="lblStatusOk" value="Состояние канала: соединение с сервером установлено"/>
    <add key="lblStatusErr" value="Состояние канала: нет связи с сервером"/>
    
    <add key="lblSendTo" value="Кому отправить:"/>
    <add key="lblMsgText" value="Текст сообщения (макс. 1000 символов):"/>
    <add key="lblFilter" value="Фильтр"/>
    <add key="lblGroupName" value="Наименование группы:"/>
    <add key="lblGroupMembers" value="Члены группы (имена пользователей и/или компьютеров):"/>
    <add key="lblGroupComment" value="* Членов группы разделяйте точкой с запятой. Пример: user1; user2; computer3; computer4;"/>
    
    <add key="menuItemSendMsg" value="Отправить сообщение"/>    
    <add key="menuItemClear" value="Очистить"/>    
    <add key="menuItemClose" value="Закрыть"/>
    <add key="menuItemHelp" value="Справка"/>
	  <add key="btnCopy" value="Копировать"/>
	  <add key="frmInfoCaption" value="Информация"/>
    <add key="btnClear" value="Очистить"/>
    <add key="btnClose" value="Закрыть"/>
    <add key="btnSelect" value="Выбрать получателей"/>
    <add key="btnSend" value="Отправить"/>
    <add key="btnOk" value="Выбрать"/>
    <add key="btnSave" value="Сохранить"/>
    <add key="btnCancel" value="Отменить"/>
    <add key="btnFilter" value="Применить"/>
    <add key="btnAddGroup" value="Добавить"/>
    <add key="btnEditGroup" value="Изменить"/>
    <add key="btnDelGroup" value="Удалить"/>

    <add key="cbConfirm" value="Запросить подтверждение о доставке"/>
    <add key="cbSelectAll" value="Выбрать всех"/>
    
    <add key="tabPageUser" value="Пользователи"/>
    <add key="tabPageHost" value="Компьютеры"/>
    <add key="tabPageADGroup" value="Общие группы"/>
    <add key="tabPagePrivateGroup" value="Личные группы"/>
    
    <add key="cbOptionStart" value="Начинается"/>
    <add key="cbOptionExist" value="Содержит"/>
    <add key="cbOptionNotStart" value="Не начинается"/>
    <add key="cbOptionNotExist" value="Не содержит"/>
    
    <add key="sToAllUsers" value="Всем пользователям"/>
    <add key="sMsgFrom" value="сообщение от"/>
    <add key="sDeliveryTotal" value="Подтверждение (доставлено /    отправлено)"/>
    <add key="sDeliveryFailed" value="Сообщение не доставлено"/>
    <add key="sTitleReply" value="Ответить отправителю"/>    
    
    <add key="MsgBoxCaptionInfo" value="Информация"/>
    <add key="MsgBoxCaptionWarning" value="Предупреждение"/>
    <add key="MsgBoxCaptionError" value="Ошибка"/>

    <add key="MsgBoxSendMsgOk" value="Ваше сообщение отправлено!"/>
    <add key="MsgBoxTwoAppRun" value="Экземпляр RSend Client уже запущен на Вашем компьютере!"/>
    <add key="MsgBoxClear" value="Очиcтить архив входящих сообщений?"/>
    <add key="MsgBoxExit" value="Завершить работу RSend Client?"/>    
    <add key="MsgBoxNoReplyMsg" value="Отправитель в настоящее время недоступен!"/>
    <add key="MsgBoxNoReplySelect" value="Выберите кому Вы хотите ответить!"/>
    <add key="MsgBoxNoReplyAlert" value="Это сообщение сформировано автоматически. Вы не можете на него ответить."/>
    <add key="MsgBoxNoRegisteredUsers" value="Нет зарегистрированных пользователей или сервер недоступен. Попробуйте отправить сообщение позже."/>
    <add key="MsgBoxEmptyMsgTextBox" value="Вы не можете посылать пустое сообщение!"/>
    <add key="MsgBoxEmptySelectUserTextBox" value="Выберите получателей сообщения!"/>
    <add key="MsgBoxEmptyField" value="Все поля должны быть заполнены!"/>
    <add key="MsgBoxOneGroupEdit" value="Выберите только одну группу для редактирования!"/>
    <add key="MsgBoxEmptyGroupEdit" value="Выберите группу для редактирования!"/>
    <add key="MsgBoxEmptyGroupDelete" value="Выберите группу для удаления!"/>
    <add key="MsgBoxConfirmDeleteGroup" value="Удалить выбранную группу(ы)?"/>
    <add key="MsgBoxNoPing" value="Сервер недоступен (отсутствует ping). Попробуйте отправить сообщение позже."/>
    <add key="MsgBoxNoRemoting" value="Сервер недоступен (отсутствует remoting). Попробуйте отправить сообщение позже."/>
    <add key="MsgBoxErrSendMsg" value="Произошла ошибка при отправке сообщения!"/>
    <add key="MsgBoxErrListSendTo" value="Произошла ошибка при формировании списка получателей сообщения!"/>
    <add key="MsgBoxErrSaveGroup" value="Произошла ошибка при сохранении группы получателей!"/>
    <add key="MsgBoxErrDeleteGroup" value="Произошла ошибка при удалении групп(ы) получателей!"/>
    <add key="MsgBoxErrOpenHelp" value="Произошла ошибка при открытии файла справки!"/>    
  </appSettings>
