<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="maxThread" value="100"/>
    <add key="timeoutKeepAlive" value="210000"/>
    <add key="timeoutConfirmation" value="15000"/>
    <add key="sizeLog" value="10000000"/>
    <add key="archiveLog" value="true"/>
    <add key="domain" value="agrobank.gomel.by"/>
    <add key="ADGroups" value="         
Руководство филиала - пользователи;
Начальники подразделений - пользователи;
Отдел активных банковских операций - пользователи;
Отдел банковского обслуживания частных клиентов - пользователи;
Отдел банковских пластиковых карточек - пользователи;
Отдел безопасности - пользователи;
Отдел внешнеэкономической деятельности - пользователи;
Отдел внутреннего аудита - пользователи;
Отдел внутрибанковских операций - пользователи;
Отдел инкассации - пользователи;
Отдел информационных технологий - пользователи;
Отдел капитального строительства - пользователи;
Отдел клиентского менеджмента - пользователи;
Отдел контроля кредитной задолженности - пользователи;
Отдел кредитования физических лиц - пользователи;
Отдел координации кредитных операций - пользователи;
Отдел обеспечения деятельности банка - пользователи;
Отдел организации бухгалтерского учета - пользователи;
Отдел организации денежного обращения - пользователи;
Отдел по работе с проблемной задолженностью - пользователи;
Отдел расчетов - пользователи;
Отдел управления человеческими ресурсами - пользователи;
Отдел учета операций розничного бизнеса - пользователи;
Сектор кассовых операций - пользователи;
Финансово-экономический отдел - пользователи;
Центр корпоративных продаж - пользователи;
Центр розничных продаж - пользователи;
Юридический отдел - пользователи;
РКЦ 02 - Новобелица - пользователи;
РКЦ 08 - Ветка - пользователи;
РКЦ 11 - Корма - пользователи;
РКЦ 12 - Добруш - пользователи;
РКЦ 15 - Буда-Кошелево - пользователи;
РКЦ 16 - Чечерск - пользователи;
Пользователи AVEST;
Пользователи CREDFIZ;
Пользователи HGR;
Пользователи MIGOM;
Пользователи RECORD;
Пользователи SCCARD;
Пользователи SCKASSA;
Пользователи SCNDO;
Пользователи SCUKA;
Пользователи SCVISA;
Компьютеры SCKASSA;
         "/>
  </appSettings>
  <system.runtime.remoting>
    <application name="Server">
      <service>
        <wellknown mode="Singleton" type="Server.ServerObject, Server" objectUri="ServerObject.rem"/>
      </service>
      <channels>
        <channel ref="tcp" port="5555">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
