<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ipAddressServer" value="172.22.2.37"/>
    <add key="portServer" value="5555"/>
    <add key="to" value="Грунт Игорь Николаевич;"/>
    <add key="text" value="I'm RSend Alert robot, do not reply me"/>
  </appSettings>
</configuration>
